body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

#nav-bottom {
    height: 265px;
    background-image: url('/static/trees.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    margin-bottom: 50px;
}

.jumbotron {
    background-image: url('/static/travel_map.jpg');
    background-size: cover;
    background-position: center;
}

.container.jumbotron-text {
    color: rgb(240, 240, 240);
    background-color: rgba(0, 0, 0, .6);
    border-radius: 10px;
}

img {
    height: 250px;
    width: 250px;
    object-fit: cover;
}

footer {
    bottom: 0;
    width: 100%;
    margin-top: 50px;
    padding-top: 10px;
    background-color: black;
    color: white;
    text-align: center;
}

/* Make the tree img smaller on mobile and tablet */
@media only screen and (max-width: 768px) {
    #nav-bottom {
        height: 50px;
        background-image: url('/static/trees.jpg');
        background-size: cover;
        background-position: center;
        color: white;
        margin-bottom: 10px;
    }
  }