{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<h1>About GOutdoors</h1>
<p>GOutdoors started out of a need for a quick way to quickly search the national parks by state and activity (coming soon) as well as a uniqure way to journal after travels.</p>
<hr>
<p><i>Note: Some National parks/monuments cross state lines. Our search uses the physical address listed in the National Parks database as the state that the park/momument resides.</i></p>
<hr>
<p>Use GOutdoors Journaling in order to keep track of important trip notes and most notable pictures. Additionally, the journaling pages are structured for easy sharing on your phone or computer with family and friends when you see them.</p>
{% endblock %}