{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<h1>About GOutdoors</h1>
<p>GOutdoors started out of a desire to quickly search all of the US national parks and monuments by state to easily see what parks/monuments were near by and what activities they offered. 
    Additionally, GOutdoors offers the ability to keep track of journal notes from a visit to a national park, which then allows you to quickly see what parks/monuments you have visited, 
    when you visited them, and how many times the park has been visited by all users.
</p>
<hr>
<p><i>Note: Some National parks/monuments cross state lines. Our search uses the physical address listed in the National Parks database as the state that the park/momument resides.</i></p>
<hr>
{% if session['username'] %}
<h3>Future Features:</h3>
<p>GOutdoors is always looking for the next way to best serve users. Here is a shortlist of major updates currently being worked on:</p>
<ul>
    <li>Adding photo albums with journal entries</li>
    <li>Search parks/monuments by activity</li>
    <li>Park visit "wishlist" feature</li>
    <li>Ability to share posts across social media</li>
    <li>Include state parks for searching and journaling</li>
</ul>
<p><i>If you have an idea, or a feature you would like to have included, just send it over to goutdoorstoday@gmail.com</i></p>
<hr>
{% endif %}
<h3>GOutdoors Features:</h3>
<ul>
    <li>Search individual states for national parks and monuments (do not need account)</li>
    <li>Create a journal entry for any national park/monument with 1 photo (hosted externally ex. imgur, Facebook, etc)</li>
    <li>Edit your account with the state you reside in for a quick search in your dashboard for parks near you</li>
    <li>After creating journals, future searches will show which parks you have visited with links directly to your journal entries</li>
</ul>


<div class="text-center pt-5">
    {% if session["username"] %}
    <a href="/users/{{ session['username'] }}" class="btn btn-primary mr-2" role="button">Go to Journals</a>
    {% else %}
    <a href="/register" class="btn btn-primary mr-2" role="button">Register Today</a>
    {% endif %}
    </div>


{% endblock %}