{% extends "base.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<h1>Admin dashboard</h1>

<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>State</th>
            <th>User Information</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.state_code }}</td>
            <td><a href="/users/{{ user.username }}/edit">edit</a></td>
        </tr>
        {% endfor %}
    </tbody>
    
</table>

{% endblock %}