<!-- Template for editing a user -->

{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Edit User{% endblock %}

{% block content %}

<h1>Edit {{ current_user.username }}'s Profile</h1>
<form method="POST" class="mb-5">
    {{ form.csrf_token() }}
        <div class="row">
            <div class="form-group col-lg-3 pl-3">
                {{ wtf.form_field(form.first_name, class='form-control')}}
            </div>
            <div class="form-group  col-lg-3">
                    {{ wtf.form_field(form.last_name, class='form-control')}}
            </div>
        </div>
        <div class="form-group col-sm-1 pl-0">
            {{ wtf.form_field(form.state_code, class='form-control')}}
        </div>

        <button type="submit" class="btn btn-info">Save Edits</button>
        <a href="/users/{{ current_user.username }}" class="btn btn-warning" type="button">Cancel</a>
</form>

<!-- Button trigger modal -->
  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#deleteModal"><span class="badge badge-pill badge-danger">Delete User</span></button>
  
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete {{ current_user.username }}'s Account</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>This action is not reversible. All journals and personal information will be erased. </p>

          <p><i>Click "Delete User" below only if you are sure you want to lose all data.</i></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form method="POST" action="/users/{{ current_user.username }}/delete">
            <button type="submit" class="btn btn-danger">Delete User</button>
        </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}