<!-- Template for editing a journal -->

{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Edit Journal{% endblock %}

{% block content %}

<h1>Edit Journal</h1>

<form method="POST" class="mb-5">
    {{ form.csrf_token() }}
        
        <div class="form-group col-lg-3 pl-0">
                {{ wtf.form_field(form.date_of_visit, class='form-control')}}
        </div>
        <div class="form-group">
                {{ wtf.form_field(form.title, class='form-control')}}
        </div>
        <div class="form-group">
            {{ wtf.form_field(form.title_img_url, class='form-control')}}
        </div>
        <div class="form-group">
            {{ wtf.form_field(form.text, class='form-control', rows="5")}}
        </div>
        
        <button type="submit" class="btn btn-info">Save Edits</button>
        <a href="/users/{{ session['username'] }}" class="btn btn-warning" type="button">Cancel</a>
</form>

<!-- Button trigger modal -->
<button type="button" class="btn btn-link" data-toggle="modal" data-target="#deleteModal"><span class="badge badge-pill badge-danger">Delete Journal</span></button>
  
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete {{ journal.title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>This action is not reversible. This journal entry will be erased. </p>

        <p><i>Click "Delete Journal" below only if you are sure you want to lose all info for this journal.</i></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form method="POST" action="/users/{{ session['username'] }}/journals/{{ journal.id }}/delete">
          <button type="submit" class="btn btn-danger">Delete Journal</button>
      </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}