{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<h2>Welcome to GOutdoors</h2>
<p>Your Destination For National Park Information and Travel Journaling</p>
<hr>
<h3>Search National Parks</h3>
<p>Search for national parks by name, state, or activity</p>
	<form method="POST">
		{{ form.hidden_tag() }}

		{% for field in form if field.widget.input_type != 'hidden' %}

		<p>
			{{ field.label }}
			{{ field }}

			{% for error in field.errors %}
			{{ error }}
			{% endfor %}
		</p>

		{% endfor %}
		<button>Search</button>
	</form>
<hr>
<h3>GOutdoors Journaling</h3>
<p>Create an account today and use GOutdoors to keep track of your most precious travel moments</p>
<p>Include in your journaling:</p>
<ul>
    <li>Notes from your travels, organized by day of the trip</li>
    <li>3 pictures for each journal entry</li>
    <li>An easy way to present your travels to family and friends</li>
</ul>
<hr>

{% endblock %}