{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}


  <div class="jumbotron jumbotron-fluid">
	<div class="container">
	  <h1 class="display-4">Welcome to GOutdoors</h1>
	  <p class="lead">Your Destination For National Park Information and Travel Journaling</p>
	</div>
  </div>

<h3>Search National Parks</h3>
<p>Search for national parks by state</p>
	<form method="POST">
		{{ form.hidden_tag() }}

		{% for field in form if field.widget.input_type != 'hidden' %}
		<div class="form-group">
			<p>
				{{ field.label }}
				{{ field(class_="form-control") }}
	
				{% for error in field.errors %}
				{{ error }}
				{% endfor %}
			</p>
		</div>
		

		{% endfor %}
		<button type="submit" class="btn btn-primary mb-2">Search</button>
	</form>
<hr>
<h3>GOutdoors Journaling</h3>
<p>Create an account today and use GOutdoors to keep track of your most precious travel moments</p>
<p>Include in your journaling:</p>
<ul>
    <li>Notes from your travels, organized by day of the trip</li>
    <li>1 picture for each journal entry (capacity for additional images coming soon)</li>
	<li>An easy way to present your travels to family and friends</li>
</ul>
<a href="/register" class="btn btn-primary" role="button">Register Today</a>


{% endblock %}