
{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GOutdoors</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/app.css" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-0">
        <div class="container">
        <a class="navbar-brand" href="/"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-tree" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 0a.5.5 0 0 1 .416.223l3 4.5A.5.5 0 0 1 11 5.5h-.098l2.022 3.235a.5.5 0 0 1-.424.765h-.191l1.638 3.276a.5.5 0 0 1-.447.724h-11a.5.5 0 0 1-.447-.724L3.69 9.5H3.5a.5.5 0 0 1-.424-.765L5.098 5.5H5a.5.5 0 0 1-.416-.777l3-4.5A.5.5 0 0 1 8 0zM5.934 4.5H6a.5.5 0 0 1 .424.765L4.402 8.5H4.5a.5.5 0 0 1 .447.724L3.31 12.5h9.382l-1.638-3.276A.5.5 0 0 1 11.5 8.5h.098L9.576 5.265A.5.5 0 0 1 10 4.5h.066L8 1.401 5.934 4.5z"/>
            <path d="M7 13.5h2V16H7v-2.5z"/>
          </svg>  GOutdoors</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse  "id="navbarSupportedContent">
            
                {% if session['username'] %}
                <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">ABOUT</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/users/{{ session['username'] }}">{{ session['username'] }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">LOGOUT</a>
                </li>
            </ul>
                {% else %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">ABOUT</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/register">REGISTER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">LOGIN</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid">
	<div class="container jumbotron-text py-4">
	  <h1 class="display-4">Welcome to GOutdoors</h1>
	  <p class="lead">Your Destination For National Park Information and Travel Journaling</p>
	</div>
  </div>

    <div class="container">
        {% for msg in get_flashed_messages() %}
        <p>{{ msg }}</p>
		{% endfor %}


		<h3>Search National Parks</h3>
<p>Search for national parks by state</p>
	<form method="POST">
		{{ form.csrf_token() }}
        <div class="form-group col-sm-1 pl-0">
                {{ wtf.form_field(form.state, class='form-control')}}
        </div>
		
		<button type="submit" class="btn btn-primary mb-2">Search</button>
	</form>
<hr>
<h3>GOutdoors Journaling</h3>
<p>Create an account today and use GOutdoors to keep track of your most precious travel moments</p>
<p>Include in your journaling:</p>
<ul>
    <li>Notes from your travels, organized by day of the trip</li>
    <li>1 picture for each journal entry (capacity for additional images coming soon)</li>
	<li>An easy way to present your travels to family and friends</li>
</ul>
{% if session["username"] %}
<a href="/users/{{ session['username'] }}" class="btn btn-primary" role="button">Go to Journals</a>
{% else %}
<a href="/register" class="btn btn-primary" role="button">Register Today</a>
{% endif %}
	</div>
    <footer>
        <p>All National Parks data recalled and maintained by National Parks Service API: https://www.nps.gov/subjects/developer/index.htm</p>
        <p>© GOutdoors 2020</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>