{% extends "base.html" %}

{% block title %}New Journal{% endblock %}

{% block content %}
<form method="POST">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}

    <p>
        {{ field.label }}
        {{ field }}

        {% for error in field.errors %}
        {{ error }}
        {% endfor %}
    </p>

    {% endfor %}
    <button  type="submit" class="btn btn-info">Add Journal</button>
    <a href="/users/{{ session['username'] }}" class="btn btn-warning" type="button">Cancel</a>
</form>

{% endblock %}