{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Register{% endblock %}

{% block content %}
<h1>Register</h1>
<form method="POST" class="mb-3">
    {{ form.csrf_token() }}
        <div class="row">
            <div class="form-group col-lg-3 pl-3">
                {{ wtf.form_field(form.first_name, class='form-control')}}
            </div>
            <div class="form-group  col-lg-3">
                    {{ wtf.form_field(form.last_name, class='form-control')}}
            </div>
        </div>
        <div class="form-group col-lg-6 pl-0">
                {{ wtf.form_field(form.username, class='form-control')}}
        </div>
        <div class="form-group col-lg-6 pl-0">
            {{ wtf.form_field(form.email, class='form-control')}}
        </div>
        <div class="form-group  col-lg-6 pl-0">
                {{ wtf.form_field(form.password, class='form-control', pattern="(?=.*\d).{8,}", placeholder="Must be at least 8 characters and contain at least 1 special character")}}
        </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
<a href="/login">Already registered? Sign in</a>

{% endblock %}